<!DOCTYPE HTML>
<head>
	<meta charset="UTF-8">
	<title>Kutcher Studio</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Google Web Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Oswald|Open+Sans:400,600' rel='stylesheet' type='text/css'>
	
	<!-- CSS Responsive Framework Skeleton -->
	<link rel="stylesheet" href="css/skeleton.css">
	
	<!-- CSS Styles -->	
	<link rel="stylesheet" href="css/style.css">
	
	<!-- Fullscreen Slider -->
	<link rel="stylesheet" href="css/supersized.css">
	<link rel="stylesheet" href="css/supersized.shutter.css">
	
	<!-- Fancybox -->	
	<link rel="stylesheet" href="css/jquery.fancybox.css">
	
	<!-- Icons -->	
	<link rel="stylesheet" href="css/font-awesome.css">
	
	<!-- Flexslider -->	
	<link rel="stylesheet" href="css/flexslider.css">
	
	<!-- Media Queries -->	
	<link rel="stylesheet" href="css/media.css">
	
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
	<link rel="stylesheet" href="css/pure-skin-custom.css">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine|Architects+Daughter:400normal|Indie+Flower:400normal|Combo:400normal|Courgette:400normal|Alegreya+SC:400normal|Clicker+Script:400normal|EB+Garamond:400normal|Stalemate:400normal|Patrick+Hand:400normal">
					 	
	<link href="thirdparty/icheck/skins/line/grey.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="http://weloveiconfonts.com/api/?family=fontawesome">

	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<style>
	
		::-webkit-input-placeholder { color:#666666; font-weight: bolder;}
		::-moz-placeholder { color:#333333; font-weight: bolder;} /* firefox 19+ */
		:-ms-input-placeholder { color:#666666; font-weight: bolder;} /* ie */
		input:-moz-placeholder { color:#333333; font-weight: bolder;}

		div.pure-menu.pure-menu-open.pure-menu-fixed {
			border: 0;
			border-bottom: 1px solid #3D3D3D;
		}

		div.pure-menu.pure-menu-blackbg {
			background: #222;
		}
		
		.pure-menu.pure-menu-blackbg .pure-menu-heading:hover {
			color: #efefef;
		}
		.pure-menu.pure-menu-blackbg a {
			color: #fff;
		}
		.pure-menu.pure-menu-blackbg a:hover {
			background: #666;
		}
		.pure-menu.pure-menu-blackbg .pure-menu-selected a {
			background: #b0b825; /* will be replaced to #7E45D3 */
		}
		.pure-menu.pure-menu-blackbg .pure-menu-selected a:hover {
			color: #efefef;
		}

		div#header div.pure-menu .pure-menu-heading{
			font-family: 'Patrick Hand', serif;
			font-size: 130%;
		}
		

		[class*="fontawesome-"]:before {
			font-family: 'fontawesome',sans-serif;
		}

		nav > div.container .box-big-1-3 i.selected {color:#b0b825 !important;}
		nav > div.container .box-big-1-3 i:hover {color:#bcbcbc;cursor:pointer;}
		nav > div.container .box-big-1-3 .search-rating-star:hover > i.focused {color:#bcbcbc;}

		
		nav > div.container > form > div  , nav  > div.container > form > div div, nav  > div.container > form > div div div {height:150.1px;}
		nav > div.container div.box-big-1-3 {border:1px solid #3D3D3D;border-width:0px 1px 0px 0px;padding:0px 15px 0px 15px;}
		nav > div.container div.box-big-1-3 p,
		nav > div.container div.box-big-1-3 label {color:#bcbcbc;font-family: 'Open Sans', sans-serif;font-size:90%;}
		nav > div.container div.box-big-1-3 div.iradio_line-grey, 
		nav > div.container div.box-big-1-3 div.icheckbox_line-grey {display: inline;}
		
		nav > div.container div.box-big-1-3 .invisible {opacity:0;}
		nav > div.container div.box-big-1-3 .icheckbox_line-grey,
		nav > div.container div.box-big-1-3 .iradio_line-grey {font-size:80%;}
		nav > div.container div.box-big-1-3 .icheckbox_line-grey.checked,
		nav > div.container div.box-big-1-3 .iradio_line-grey.checked {background:#b0b825}
		nav > div.container p.nav-help-txt, nav > div.container label.nav-help-txt {text-transform:uppercase}

		form.pure-form.pure-form-custom input{
			width:150px; 
			margin-top:10px;
		}
		
		form.pure-form.pure-form-custom input.nav-fld-left{
			margin-right:20px;
		}		
		
		nav > div.container .pure-u-1-12 p {
			font-size:250%;color:#bcbcbc;font-family: 'Patrick Hand', serif;padding:26% 10px 0px 20px;margin-top:0px;margin-bottom:0px;
			display:block;vertical-align: middle;height:80%;
		}
		
		nav > div.container .pure-u-1-12 p:hover{background:#b0b825;color:#fff;cursor:pointer;}
		nav > div.container .box-big-1-3 i {color:#73716e;"}
		
		
		
		h1.test-font {
			font-family: 'Architects Daughter', serif;
			font-size: 48px;
		}

		.slider-text {
			bottom: 40px;min-height: 200px;
		}


		
	</style>
	
</head>

<body>

	<div id="header">
	
			<!--div class="pure-g-r hpage-search" style="style="height:50px;width:100%;position:fixed;top:0px;background: rgba(0,0,0,0.75);z-index:999;"">
				<div class="pure-u">touristy.me</div>
			</div-->		
			
			<div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal pure-menu-blackbg">
				<a class="pure-menu-heading" href="#">touristy.me</a>

				<ul>
					<li class="pure-menu-selected"><a href="#">Home</a></li>
					<li><a href="#">Tour</a></li>
					<li><a href="#">API</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">About</a></li>
				</ul>
			</div>
		
	</div>
	
	<!-- Start Homepage -->
	<div id="homepage">
		
		<div class="container">
			<div class="sixteen columns">
				<!--img alt="" class="logo" src="images/logo.png" /-->
			</div>
			
			<div class="slider-text">
				<div class="sixteen columns">
					<!--div class="line"></div-->
				</div>
				
				<div class="twelve columns">
					<div id="slidecaption"></div>
				</div>
				
				<div class="four columns">
					<a id="prevslide" class="load-item"><i class="icon-chevron-left"></i></a>
					<a id="nextslide" class="load-item"><i class="icon-chevron-right"></i></a>
				</div>
			</div>
			
		</div>
	</div>
	<!-- End Homepage -->
	
	
	<!-- Start Navigation -->
	<nav>
	
		<!--div class="container" style="height:150px;width:100%;border: 1px solid #ff0">
			
			<div class="six columns" style="border: 1px solid #fff;height:140px;">
				
				
			</div>
			
			<div class="six columns" style="border: 1px solid #fff;height:140px;">
			
			
			</div>
			
			<div class="six columns" style="border: 1px solid #fff;height:140px;">
			
			</div>

			<div class="two columns" style="border: 1px solid #fff;height:140px;float:right;">
				<span>Let's Go! &#x2192</span>
			</div>
			
		</div-->
		
		<div class="container" style="height:150px;width:100%;">
			<form class="pure-form  pure-form-custom">
			<div class="pure-g">
				<div class="pure-u-11-12" style="">
					<div class="pure-g">
						<div class="pure-u-1-3">
							<div class="box-big-1-3" style="">
															
									<fieldset>
										<input type="text" class="nav-fld-left" placeholder="Starting Form">
										<input type="text" placeholder="Going to">
										<p class="nav-help-txt">Not sure about destination? Choose travel distence:</p>

										<input type="checkbox" class="invisible" name="iCheck">
										<label class="invisible">NEARBY</label>

										<input type="checkbox" class="invisible" name="iCheck">
										<label class="invisible">WITHIN COUNTRY</label>
										
										<p style="margin-bottom: 0px;">
											<input type="checkbox" class="invisible" name="iCheck">
											<label class="invisible">INTERNATIONAL</label>
										</p>

										
									</fieldset>
								
							
							
							</div>
						</div>

						<div class="pure-u-1-3">
							<div class="box-big-1-3" style="">
												
									<fieldset style="padding-top: 5px;">
										<input type="text" class="nav-fld-left" placeholder="# of Adults" style="width: 80px;">
										<input type="text" class="nav-fld-left" placeholder="# of Children" style="width: 80px;">
										<input type="text" class="" placeholder="Budget in $" style="width: 80px;">

										<p style="margin-bottom: 0px;margin-top: 4px;">
											<input type="text" class="" placeholder="Travel Dates" style="width: 130px;">	
											<label class="nav-help-txt">&nbsp;&nbsp; OR	&nbsp;&nbsp;</label>								
											<input type="text" class="nav-fld-left" placeholder="# of days, if dates are not certain" style="width: 175px;">
										</p>
										
										<p style="margin-bottom: 0px;margin-top: 15px;">
											<label class="nav-help-txt" for="Stars">Travel Shedule: &nbsp;&nbsp;&nbsp;</label>
											
											<input type="radio" class="invisible" name="iCheck">
											<label class="invisible">SOON</label>

											<input type="radio" class="invisible" name="iCheck">
											<label class="invisible">FAR OUT</label>
										</p>
										
									</fieldset>
							</div>
							
						</div>
			
						<div class="pure-u-1-3">
							<div class="box-big-1-3" style="">
										<fieldset style="padding-top: 10px;">
										<p style="margin-bottom: 0px;margin-top:0px">
											<label class="nav-help-txt" for="Stars"  >Hotels with minmum rating of: </label>
											<span class="search-rating-star">
													<i class="fontawesome-star active star-1-5"></i>
													<i class="fontawesome-star active star-2-5"></i>
													<i class="fontawesome-star active star-3-5"></i>
													<i class="fontawesome-star active star-4-5"></i>
													<i class="fontawesome-star active star-5-5"></i>
											</span>
										</p>		
										
										<p style="margin-bottom: 0px;">
											<label class="nav-help-txt"> Travel Theme:&nbsp;</label>
											<input type="checkbox" class="invisible" name="iCheck">
											<label class="invisible">ADVENTURE</label>

											<input type="checkbox" class="invisible" name="iCheck">
											<label class="invisible">BEACH</label>

											<input type="checkbox" class="invisible" name="iCheck">
											<label class="invisible">ROMANCE</label>
										<p>
										<p style="margin-bottom: 0px;">
											<input type="checkbox" class="invisible" name="iCheck">
											<label class="invisible">CITY</label>				

											<input type="checkbox" class="invisible" name="iCheck">
											<label class="invisible">MOUNTAIN</label>		

											<input type="checkbox" class="invisible" name="iCheck">
											<label class="invisible">WILD</label>
											
											<input type="checkbox" class="invisible" name="iCheck">
											<label class="invisible">HERITAGE</label>	
										</p>										
										<p style="margin-bottom: 0px;">
											<input type="checkbox" class="invisible" name="iCheck">
											<label class="invisible">RELAXED</label>					
											
											<input type="checkbox" class="invisible" name="iCheck">
											<label class="invisible">ROAD TRIP</label>				

											<input type="checkbox" class="invisible" name="iCheck">
											<label class="invisible">OFFBEAT</label>												
										</p>	
										</fieldset> 
							</div>							
						</div>
					</div>
				</div>

				<div class="pure-u-1-12" style="">
					<p>Let's Go! &#x2192 &nbsp;&nbsp;&nbsp;&nbsp;</p>
				</div>

				<!--div class="pure-u-1-4" style="border: 1px solid #fff">
					<p>Thirds</p>
				</div-->
			</div>
			</form>
		</div>
		
	
	</nav>
	<!-- End Navigation -->	
	
	
	<!-- Start About Page -->	
	<div id="about" class="page">
	
		<div class="container">
		
			<div class="sixteen columns">
				
				<h1 class="test-font">About Kutcher Studio</h1>
				<div class="one-text">					
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#homepage">hendrerit dictum</a>. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
				</div>
			</div> 
			
			<!-- Start Profile -->
			<div class="one-third column">
			    <div class="img-wrp">
	    			<img alt="" class="scaleimg" src="images/team/profile1.jpg" />
	    			<div class="overlay-wrp">
	        			<div class="overlay"></div>
	        			<ul class="social-icons overlay-content">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-pinterest"></i></a></li>
	        			</ul>
	    			</div>
			    </div>
				<h3>Alex Rudermann</h3>
				<p class="job-position">Chief Executive Officer</p> 
				<p class="description">Lorem ipsum dolor sit amet, consectetur <a href="#homepage">adipiscing elit</a>. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
			</div>
			<!-- End Profile -->	
			
			<!-- Start Profile -->			
			<div class="one-third column">
			    <div class="img-wrp">
	    			<img alt="" class="scaleimg" src="images/team/profile2.jpg" />
	    			<div class="overlay-wrp">
	        			<div class="overlay"></div>
	        			<ul class="social-icons overlay-content">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
	        			</ul>
	    			</div>
			    </div>
				<h3>Zajec Forester</h3>
				<p class="job-position">Creative Director</p> 
				<p class="description">Phasellus a nisi urna, facilisis facilisis diam. Vivamus enim ligula, sollicitudin nec porttitor nec, commodo vel justo. Nunc in mattis ipsum. Mauris accumsan pretium diam, sit amet iaculis purus ullamcorper ac. Donec pulvinar metus a ipsum varius suscipit. Mauris ut nisi at tortor molestie rhoncus ultrices quis nisi.</p>                                                 
			</div>
			<!-- End Profile -->	
			
			<!-- Start Profile -->			
			<div class="one-third column">
			    <div class="img-wrp">
	    			<img alt="" class="scaleimg" src="images/team/profile3.jpg" />
	    			<div class="overlay-wrp">
	        			<div class="overlay"></div>
	        			<ul class="social-icons overlay-content">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-pinterest"></i></a></li>
	        			</ul>
	    			</div>
			    </div>
				<h3>Jack J. Brown</h3>
				<p class="job-position">Art-Director</p> 
				<p class="description">Aliquam erat volutpat. Nullam placerat enim nec quam dapibus ac egestas massa pulvinar. Nunc in sapien vitae orci viverra lacinia luctus id sapien. Mauris ut nisi at tortor molestie rhoncus ultrices quis nisi. Sed massa sapien, dapibus vel porta non, congue id nisl.</p>                                                 
			</div>
			<!-- End Profile -->
			
		</div>
		
	</div>
	<!-- End About Page -->
	
	
	<!-- Start First Parallax Background (Quote) -->	
	<div id="parallax1">
		<div class="bg1"></div>
		<div class="pattern"></div>
		<div class="container">
			<div class="vertical-text">
				<p class="prlx-quote">If everyone demanded peace instead of another television set, then there'd be peace.</p>
				<div class="prlx-author">John Lennon</div>
			</div>
		</div>
	</div>
	<!-- End First Parallax Background (Quote) -->
	
	
	<!-- Start Culture Page -->
	<div id="culture" class="page">
		
		<div class="container">
			<div class="sixteen columns">
				<h1>Our Culture</h1>
				<div class="one-text">
					<p>Morbi suscipit interdum molestie. Aenean fringilla dui magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis porttitor, velit et pretium porttitor, tellus massa porttitor tortor, accumsan cursus nulla nisi at tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est.</p>
				</div>
			</div>
		</div>
		
		<!-- Start Full Width Video -->
		<!--div class="full-width">
			<div class="container">
				<div class="sixteen columns">
					<div class="embed-container"><iframe src="http://player.vimeo.com/video/50834315?byline=0&amp;portrait=0&amp;badge=0&amp;color=b0b825" frameborder="0"></iframe>
					</div>
				</div>	
			</div>	
		</div-->
		<!-- End Full Width Video -->
		
		<div class="container">
		
			<div class="eight columns">
				<h4>We are innovate</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est.</p>
				<p>Morbi suscipit interdum molestie. Aenean fringilla dui magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>                       
			</div>
				
			<div class="eight columns">
				<h4>We are awesome</h4>
				<p>Morbi suscipit interdum molestie. Aenean fringilla dui magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis porttitor, velit et pretium porttitor.</p>
				<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>  
			</div>
		
		</div>
	
	</div>
	<!-- End Culture Page --> 
	
	
	<!-- Start Second Parallax Background (Twitter) -->
	<div id="parallax2">
	    <div class="bg2"></div>
	    <div class="pattern"></div>
	    <div class="container">
	        <div class="eleven columns">
	            <div class="vertical-text">
	            	<p class="twitter-author"><a href="http://twitter.com/envato" target="_blank">@envato</a></p>
	                <div id="lasttweet"></div>
	                <img alt="" src="images/social-icons/follow.png" style="margin-top: 36px;" />
	            </div>
	        </div>
	    </div>
	</div>
	<!-- End Second Parallax Background (Twitter) -->
	
	
	<!-- Start Services Page -->
	<div id="services" class="page">
	
		<div class="container">
		
			<div class="sixteen columns">
				<h1>Our Services</h1>
				<div class="one-text">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
				</div>
			</div>  
			
			<!-- Start Icons -->
			<div class="service one-third column">
				<h3>Photographing</h3>
				<div class="icon" style="background-image: url(./images/icons/photo.png)"></div>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est.</p>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. </p>                                                 
			</div>
					
			<div class="service one-third column">
				<h3>Videographing</h3>
				<div class="icon" style="background-image: url(./images/icons/video.png)"></div>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>                                                 
			</div>
					
			<div class="service one-third column">
				<h3>Graphic Design</h3>
				<div class="icon" style="background-image: url(./images/icons/design.png)"></div>
				<p class="description">Nulla lacinia odio quis tellus malesuada quis pulvinar augue tincidunt. Quisque sit amet nunc enim. Vestibulum convallis odio fringilla lectus tincidunt bibendum. Aenean venenatis. Nullam imperdiet, est blandit tristique blandit, massa nunc fermentum eros, non ullamcorper dolor dolor at quam.</p>                                                 
			</div>	
			<!-- End Icons -->	
				
		</div>
			
	</div>
	<!-- End Services Page -->
	
	
	<!-- Start Third Parallax Background (Clients) -->
	<div id="parallax3">
		<div class="bg3"></div>
		<div class="pattern"></div>
		<div class="container">
			<div class="vertical-text">
				<h2 class="white">Our Clients</h2>
				<ul class="clients">
					<li><a href="#"><img alt="" src="images/clients/logo1.png" ></a></li>
					<li><a href="#"><img alt="" src="images/clients/logo2.png" ></a></li>
					<li><a href="#"><img alt="" src="images/clients/logo3.png" ></a></li>
					<li><a href="#"><img alt="" src="images/clients/logo4.png" ></a></li>
					<li><a href="#"><img alt="" src="images/clients/logo5.png" ></a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- End Third Parallax Background (Clients) -->
	
	
	<!-- Start Portfolio Page -->
	<div id="portfolio" class="page">
	
		<div class="container">
		
			<div class="sixteen columns">
				<h1>Portfolio</h1>
					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#homepage">hendrerit dictum</a>. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
					<hr>
			</div>
			
			<!-- Start Filters -->
                <ul class="option-set" data-option-key="filter">
                	<li><i class="icon-reorder"></i></li>
			    	<li><a class="selected" href="#filter" data-option-value="*"><span></span>All projects</a></li>
					<li><a href="#filter" data-option-value=".photography"><span></span>Photography</a></li>
					<li><a href="#filter" data-option-value=".video"><span></span>Video</a></li>
					<li><a href="#filter" data-option-value=".design"><span></span>Design</a></li>
		    	</ul>
			<!-- End Filters -->
			
			
			<div id="portfolio_items" class="isotope">
			
			<!-- Start Project -->
			<div class="four columns item isotope-item photography">
				<a href="images/slider/image1.jpg" class="fancybox" rel="group1" title="MONELLE EUROPE PHOTOSHOOTS">
					<div class="img-wrp">
				        <img class="scaleimg" src="images/portfolio/thumbs/image1.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum." />
				        <div class="overlay-wrp">
		    		        <i class="icon loupe overlay-content"></i>
		    		        <div class="overlay"></div>
				        </div>
				     </div>
			    </a>
				<p class="project-title">Monelle Europe Photoshoots</p>
				<p class="project-description">Monelle Worldwide Inc.</p>
				
				<!-- Start Example Gallery -->
				<div class="hidden"><a href="images/slider/image2.jpg" class="fancybox" rel="group1" title="MONELLE EUROPE PHOTOSHOOTS"><img src="images/portfolio/thumbs/image1.jpg" class="scaleimg" style="display:hidden;" alt="Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos." /></a></div>
				<div class="hidden"><a href="images/slider/image3.jpg" class="fancybox" rel="group1" title="MONELLE EUROPE PHOTOSHOOTS"><img src="images/portfolio/thumbs/image1.jpg" class="scaleimg" style="display:hidden;" alt="Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos." /></a></div>
				<div class="hidden"><a href="images/slider/image4.jpg" class="fancybox" rel="group1" title="MONELLE EUROPE PHOTOSHOOTS"><img src="images/portfolio/thumbs/image1.jpg" class="scaleimg" style="display:hidden;" alt="Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos." /></a></div>
				<!-- End Example PrettyPhoto Gallery -->

			</div>	
			<!-- End Project -->
			
			<!-- Start Project -->	
			<div class="four columns item isotope-item video">
				<a href="http://vimeo.com/50834315" class="fancybox-media" rel="group2" title="Video Content from Vimeo">
					<div class="img-wrp">
				        <img class="scaleimg" src="images/portfolio/thumbs/image2.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum." />
				        <div class="overlay-wrp">
		    		        <i class="icon loupe overlay-content"></i>
		    		        <div class="overlay"></div>
				        </div>
					</div>
			    </a>
				<p class="project-title">Le Guitar</p>
				<p class="project-description">Music Store</p>
			</div>	
			<!-- End Project -->
			
			<!-- Start Project -->	
			<div class="four columns item isotope-item photography">
				<a href="http://0.s3.envato.com/files/40492763/01_preview.__large_preview.jpg" class="fancybox" rel="gallery6" title="Rudermann PSD Template">
					<div class="img-wrp">
				        <img class="scaleimg" src="images/portfolio/thumbs/image3.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum." />
				        <div class="overlay-wrp">
		    		        <i class="icon loupe overlay-content"></i>
		    		        <div class="overlay"></div>
				        </div>
					</div>
			    </a>
			    <p class="project-title">Photos for article</p>
				<p class="project-description">Nightlife Magazine</p>
			</div>
			<!-- End Project -->
			
			<!-- Start Project -->
			<div class="four columns item isotope-item video">
				<a href="http://vimeo.com/53043267" class="fancybox-media" rel="group2" title="MONELLE EUROPE PHOTOSHOOTS">
					<div class="img-wrp">
				        <img class="scaleimg" src="images/portfolio/thumbs/image4.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum." />
				        <div class="overlay-wrp">
		    		        <i class="icon loupe overlay-content"></i>
		    		        <div class="overlay"></div>
				        </div>
					</div>
				</a>
				<p class="project-title">Faces &amp; Glasses</p>
				<p class="project-description">UpGlass Online Store</p>
			</div>	
			<!-- End Project -->
			
			<!-- Start Project -->
			<div class="four columns item isotope-item video">
				<a href="http://vimeo.com/51460511" class="fancybox-media" rel="group7" title="MONELLE EUROPE PHOTOSHOOTS">
					<div class="img-wrp">
				        <img class="scaleimg" src="images/portfolio/thumbs/image5.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum." />
				        <div class="overlay-wrp">
		    		        <i class="icon loupe overlay-content"></i>
		    		        <div class="overlay"></div>
				        </div>
					</div>
			    </a>
			    <p class="project-title">2FRD Collection Winter 2012</p>
				<p class="project-description">Freddy&amp;freddy Inc.</p>
			</div>	
			<!-- End Project -->
			
			<!-- Start Project -->
			<div class="four columns item isotope-item design">
				<a href="http://2.s3.envato.com/files/40492763/index.jpg" class="fancybox" rel="group6" title="Lorem ipsum dolor sit amet">
					<div class="img-wrp">
						<img class="scaleimg" src="images/portfolio/thumbs/image6.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum." />
						<div class="overlay-wrp">
					    	<i class="icon loupe overlay-content"></i>
					    	<div class="overlay"></div>
						</div>
					</div>
				</a>
				<p class="project-title">Guide Club Billboards</p>
				<p class="project-description">G-Club Journal</p>
			</div>	
			<!-- End Project -->
			
			<!-- Start Project -->	
			<div class="four columns item isotope-item design">
				<a href="http://www.studioklass.ru/images/bg-body.jpg" class="fancybox" rel="group9" title="Lorem ipsum dolor sit amet">
					<div class="img-wrp">
				        <img class="scaleimg" src="images/portfolio/thumbs/image7.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum." />
				        <div class="overlay-wrp">
		    		        <i class="icon loupe overlay-content"></i>
		    		        <div class="overlay"></div>
				        </div>
				    </div>
			    </a>
				<p class="project-title">Askent France for website</p>
				<p class="project-description">Askent Ltd.</p>
			</div>	
			<!-- End Project -->
			
			<!-- Start Project -->				
			<div class="four columns item isotope-item video">
				<a href="http://vimeo.com/45725037" class="fancybox-media" rel="group7" title="Lorem ipsum dolor sit amet">
					<div class="img-wrp">
				        <img class="scaleimg" src="images/portfolio/thumbs/image8.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum." />
				        <div class="overlay-wrp">
		    		        <i class="icon loupe overlay-content"></i>
		    		        <div class="overlay"></div>
				        </div>
			    </div>
			    </a>
			    <p class="project-title">Angela Braker's Portfolio</p>
				<p class="project-description">The XT&amp;Models</p>
			</div>	
			<!-- End Project -->
			
			<!-- Start Project -->
			<div class="four columns item isotope-item video">
				<a href="http://vimeo.com/51621640" class="fancybox-media" rel="group9" title="MONELLE EUROPE PHOTOSHOOTS">
					<div class="img-wrp">
				    	<img class="scaleimg" src="images/portfolio/thumbs/image9.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum." />
				        <div class="overlay-wrp">
			    			<i class="icon loupe overlay-content"></i>
		    		        <div class="overlay"></div>
				        </div>
				    </div>
			    </a>
			    <p class="project-title">Margo Summer 2012</p>
				<p class="project-description">Margo House</p>
			</div>	
			<!-- End Project -->
			
			<!-- Start Project -->
			<div class="four columns item isotope-item design">
				<a href="images/parallax/teaser1.jpg" class="fancybox" rel="group11" title="MONELLE EUROPE PHOTOSHOOTS">
					<div class="img-wrp">
				        <img class="scaleimg" src="images/portfolio/thumbs/image10.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum." />
				        <div class="overlay-wrp">
		    		        <i class="icon loupe overlay-content"></i>
		    		        <div class="overlay"></div>
				        </div>
				    </div>
			    </a>
			    <p class="project-title">Catwoman online game</p>
				<p class="project-description">Rudermann Agency</p>
			</div>	
			<!-- End Project -->
			
			<!-- Start Project -->	
			<div class="four columns item isotope-item design">
				<a href="images/parallax/teaser2.jpg" class="fancybox" rel="group11" title="Lorem ipsum dolor sit amet">
					<div class="img-wrp">
				        <img class="scaleimg" src="images/portfolio/thumbs/image11.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum." />
				        <div class="overlay-wrp">
		    		        <i class="icon loupe overlay-content"></i>
		    		        <div class="overlay"></div>
				        </div>
				    </div>
			    </a>
			    <p class="project-title">LaCafe Video</p>
				<p class="project-description">The Vision Digital Agency</p>
			</div>	
			<!-- End Project -->
			
			<!-- Start Project -->	
			<div class="four columns item isotope-item photography">
				<a href="images/parallax/teaser3.jpg" class="fancybox" rel="group11" title="Lorem ipsum dolor sit amet">
					<div class="img-wrp">
				        <img class="scaleimg" src="images/portfolio/thumbs/image12.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum." />
				        <div class="overlay-wrp">
		    		        <i class="icon loupe overlay-content"></i>
		    		        <div class="overlay"></div>
				        </div>
				    </div>
			    </a>
			    <p class="project-title">Cosmos Market Ad'13</p>
				<p class="project-description">Cosmos Market Company</p>
			</div>	
			<!-- End Project -->
			
			</div>
			
		</div> 	
		
	</div>
	<!-- End Portfolio Page -->

	
	
	<!-- Start Contact Page -->
	<div id="contact">
		<div class="pattern"></div>
		<div class="container">
			<div class="sixteen columns">
				
				<!-- Start Contact Block -->
				<!--div class="card">
					<h1 class="white">Contacts Us</h1>
					<div class="js-tabs">
    					<ul class="contact-tabs">
    						<li><a href="#" class="active-tab current">Contact</a></li>
    						<li><a href="#">Map</a></li>
    						<li><a href="#">Feedback</a></li>
    					</ul>
    					
    					<div class="tab-content-wrp">
        					<div class="lines tab-content active">
        						<p><a href="#" >hello@kutcherstudio.com</a><br/>+44 123-456-7890, 321-654-0987</p>
        						<p class="adress">77a First Street, London, BC1A 4RT, United Kingdom</p>
        					</div>
        					
        					<div class="lines tab-content">
        						<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=ru&amp;geocode=&amp;q=london&amp;sll=37.0625,-95.677068&amp;sspn=60.288153,103.095703&amp;ie=UTF8&amp;hq=&amp;hnear=%D0%9B%D0%BE%D0%BD%D0%B4%D0%BE%D0%BD,+%D0%92%D0%B5%D0%BB%D0%B8%D0%BA%D0%BE%D0%B1%D1%80%D0%B8%D1%82%D0%B0%D0%BD%D0%B8%D1%8F&amp;t=m&amp;ll=51.523324,-0.152864&amp;spn=0.018691,0.060081&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
        					</div>
        					
        					<div class="lines tab-content">
        						<div class="result"></div>
                				
                				<form class="well">
                					<div class="row">
                						<div class="span2 pull-left">
                							<input type="text" name="name" placeholder="Name">
                							<input type="text" name="email" placeholder="E-mail">
                							<input type="text" name="subject" placeholder="Subject">
                						</div>
                						<div class="span6 pull-right">
                							<textarea class="span6" rows="4" name="message" placeholder="Message"></textarea>
                							<button type="submit" class="button"><i class="icon-envelope-alt"></i> Send Message</button>
                						</div>
                					</div>
                				</form>
        					</div>
    					</div>
					</div>
					
					<ul class="contact-social-icons">
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-vimeo"></i></a></li>
						<li><a href="#"><i class="icon-pinterest"></i></a></li>
					</ul>
				</div-->
				<!-- End Contact Block -->
				
			</div>
		</div>
	
		<div class="copyright">
			<p>© 2012 Kutcher studio. <a href="http://themes.tvda.eu/">Kutcher Template</a> by <a href="http://themes.tvda.eu/">TVDA</a>.</p>
		</div>		
	
	</div>
	<!-- End Contact Page -->
	
	<!-- JavaScripts -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="js/jquery.easing.min.js"></script>
	<script src="js/supersized.3.2.7.min.js"></script>
	<script src="js/supersized.shutter.min.js"></script>
	<script src="js/supersized.images.js"></script>
	<script src="js/main.js"></script>
	<script src="js/jquery.parallax-1.1.3.js"></script>
	<script src="js/twitter/jquery.tweet.js"></script>
	<script src="js/twitter-options.js"></script>
	<script src="js/paralax-ini.js"></script>
	<script src="js/scroll.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/selectnav.min.js"></script>
	<script src="js/jquery.isotope.min.js"></script>
	<script src="js/jquery.smartresize.js"></script>
	<script src="js/shortcodes.js"></script>
	<script src="js/jquery.fancybox.pack.js"></script>
	<script src="js/jquery.fancybox-media.js"></script>
	<script src="js/jquery.sticky.js"></script>
	<script src="js/contact.js"></script>
	<script src="thirdparty/icheck/jquery.icheck.js"></script>
	<script>
		 //checkbox
	     $(window).load(function(){		 
			//alert('load');
			$('.box-big-1-3 input[type=radio], .box-big-1-3 input[type=checkbox]').each(function(){	
			  //alert('load-load');
			  var self = $(this),
			  label = self.next(),
			  label_text = label.text();
			
			  label.remove();
			  self.iCheck({
				checkboxClass: 'icheckbox_line-grey',
				radioClass: 'iradio_line-grey',
				insert: '<div class="icheck_line-icon"></div>' + label_text
			  });
		    });
		});
		
	    $(window).load(function(){
			$("nav").sticky({ topSpacing: 36, className: 'sticky', wrapperClassName: 'my-wrapper' });
	    });


			$( ".search-rating-star i" ).mouseover(function(e,data) {
				  //alert( "Handler for called." );
			  
				  var tstar = $(e.target);
				  var tstarBox = $(e.target).closest("span");
				  
				  if(tstar.hasClass( "fontawesome-star") && tstar.hasClass( "star-1-5")){
						tstarBox.find("i").removeClass("focused");
						tstar.addClass("focused");
				  }else if(tstar.hasClass( "fontawesome-star") && tstar.hasClass( "star-2-5")){
						tstarBox.find("i").removeClass("focused");						
						tstarBox.find("i.star-1-5").addClass("focused");
						tstarBox.find("i.star-2-5").addClass("focused");						
						tstar.addClass("focused");				  
				  }else if(tstar.hasClass( "fontawesome-star") && tstar.hasClass( "star-3-5")){
						tstarBox.find("i").removeClass("focused");
						tstarBox.find("i.star-1-5").addClass("focused");
						tstarBox.find("i.star-2-5").addClass("focused");						
						tstarBox.find("i.star-3-5").addClass("focused");												
						tstar.addClass("focused");					  
				  }else if(tstar.hasClass( "fontawesome-star") && tstar.hasClass( "star-4-5")){
						tstarBox.find("i").removeClass("focused");
						tstarBox.find("i.star-1-5").addClass("focused");
						tstarBox.find("i.star-2-5").addClass("focused");						
						tstarBox.find("i.star-3-5").addClass("focused");		
						tstarBox.find("i.star-4-5").addClass("focused");								
						tstar.addClass("focused");  
				  }else if(tstar.hasClass( "fontawesome-star") && tstar.hasClass( "star-5-5")){
						tstarBox.find("i").addClass("focused");						
						//tstar.addClass("focused");					  
				  }
			  
			});
			
			$( ".search-rating-star i" ).click(function(e,data) {
				
				  var tstar = $(e.target);
				  var tstarBox = $(e.target).closest("span");
				  
				  if(tstar.hasClass( "fontawesome-star") && tstar.hasClass( "star-1-5")){
						tstarBox.find("i").removeClass("selected");
						tstar.addClass("selected");
				  }else if(tstar.hasClass( "fontawesome-star") && tstar.hasClass( "star-2-5")){
						tstarBox.find("i").removeClass("selected");						
						tstarBox.find("i.star-1-5").addClass("selected");
						tstarBox.find("i.star-2-5").addClass("selected");						
						tstar.addClass("selected");				  
				  }else if(tstar.hasClass( "fontawesome-star") && tstar.hasClass( "star-3-5")){
						tstarBox.find("i").removeClass("selected");
						tstarBox.find("i.star-1-5").addClass("selected");
						tstarBox.find("i.star-2-5").addClass("selected");						
						tstarBox.find("i.star-3-5").addClass("selected");												
						tstar.addClass("selected");					  
				  }else if(tstar.hasClass( "fontawesome-star") && tstar.hasClass( "star-4-5")){
						tstarBox.find("i").removeClass("selected");
						tstarBox.find("i.star-1-5").addClass("selected");
						tstarBox.find("i.star-2-5").addClass("selected");						
						tstarBox.find("i.star-3-5").addClass("selected");		
						tstarBox.find("i.star-4-5").addClass("selected");								
						tstar.addClass("selected");  
				  }else if(tstar.hasClass( "fontawesome-star") && tstar.hasClass( "star-5-5")){
						tstarBox.find("i").addClass("selected");						
						//tstar.addClass("selected");					  
				  }				
				
			});
		
    </script>
	
	<script>
		$(function(){
			$('.item').show();
			var $container = $('#portfolio_items');
			$container.isotope({
				itemSelector : '.item'
			});
			var $optionSets = $('.option-set'),
				$optionLinks = $optionSets.find('a');
			$optionLinks.click(function(){
				var $this = $(this);
				// don't proceed if already selected
				if ( $this.hasClass('selected') ) {
					return false;
				}
				var $optionSet = $this.parents('.option-set');
				$optionSet.find('.selected').removeClass('selected');
				$this.addClass('selected');
			// make option object dynamically, i.e. { filter: '.my-filter-class' }
			var options = {},
				key = $optionSet.attr('data-option-key'),
				value = $this.attr('data-option-value');
				
			// parse 'false' as false boolean
			value = value === 'false' ? false : value;
			options[ key ] = value;
				if ( key === 'layoutMode' && typeof changeLayoutMode === 'function' ) {
				// changes in layout modes need extra logic
				changeLayoutMode( $this, options )
			} else {
				// otherwise, apply new options
				$container.isotope( options );
			}    
			return false;
			});
			
			if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
				var $isMobile = true;
			}
			
			if(!$isMobile)
			{
				$(window).smartresize(function(){
					$container.isotope({
						masonry: { columnWidth: $container.width() / 12 }
					});
				});
			}
			else
			{
				$(window).bind('orientationchange', function(e){
					$container.isotope({
						masonry: { columnWidth: $container.width() / 12 }
					});
				});
			}
		});
	</script>
	
	<script type="text/javascript">
    	function moveTo(contentArea){
        	var goPosition = $(contentArea).offset().top;
        	$('html,body').animate({ scrollTop: goPosition}, 'slow');
        }
    </script>
    
    <script>
		selectnav('nav', {
			nested: true,
			indent: '-'
		});
    </script>

	<script>
		$(function(){
			//SyntaxHighlighter.all();
			});
				$(window).load(function(){
				$('.flexslider').flexslider({
				animation: "slide",
				start: function(slider){
				  $('body').removeClass('loading');
				}
			});
		});
	</script>
    
    <script>
		$(document).ready(function() {
			$(".fancybox").fancybox({
				padding : 0,
				beforeShow: function () {
				
							this.title = $(this.element).attr('title');
							this.title = '<h4>' + this.title + '</h4>' + $(this.element).find('img').attr('alt');
							
    
				            if (this.title) {
				                // New line
				                this.title += '<br />';
				                
				                // Add tweet button
				                this.title += '<a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-url="' + this.href + '">Tweet</a> ';
				                
				                // Add FaceBook like button
				                this.title += '<iframe src="//www.facebook.com/plugins/like.php?href=' + this.href + '&amp;layout=button_count&amp;show_faces=true&amp;width=500&amp;action=like&amp;font&amp;colorscheme=light&amp;height=23" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:110px; height:23px;" allowTransparency="true"></iframe>';
				            }
				        },
		        afterShow: function() {
		            // Render tweet button
		            twttr.widgets.load();
		        },
				helpers : {
					title : { type: 'inside' },
				}
			});
			$('.fancybox-media').fancybox({
				openEffect  : 'none',
				closeEffect : 'none',
				helpers : {
					media : {},
				}
			});
		});
	</script>
		
</body>
<!-- The End. Visit our site THEMES.TVDA.EU -->